{% if data %}
    
    <table style="padding-top: 15px; padding-bottom:15px; width: 100%">
        <tbody style="text-align: left;">
            {% for key,value in data %}
                <tr>
                    <td style="border:1px solid #ededed;width:100%;">
                        {{ key }}
                    </td>
                    <td style="border:1px solid #ededed;width:100%;">
                        {{ value }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
