<table style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700);font-family:&apos;Open Sans&apos;, sans-serif;" cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8">
    <tbody>
        <tr>
            <td>
                <table style="background-color:#f2f3f8;margin:0 auto;max-width:670px;" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="height:80px;">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center;">
                                <a href="https://www.drupal.org" title="logo" target="_blank"><img src="https://i.ibb.co/hL4XZp2/android-chrome-192x192.png" alt="logo" width="60" title="logo"></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="height:20px;">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);background:#fff;border-radius:3px;box-shadow:0 6px 18px 0 rgba(0,0,0,.06);max-width:670px;padding:0 40px;" width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td style="height:40px;">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0 15px;text-align:center;">
                                                <h1 style="color:#1e1e2d;font-family:&apos;Rubik&apos;,sans-serif;font-size:32px;font-weight:400;margin:0;">
                                                    Share your experience with us
                                                </h1>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>
                                                    &nbsp;
                                                </p>
                                                <table style="border:1px solid #ededed;width:100%;" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                [contact_message:contact_mail_data] 
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height:40px;">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="height:20px;">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center;">
                            <br>
                                    <br>
                                <p style="color:#455056bd;font-size:14px;line-height:18px;margin:0 0 0;">
                                    © <strong>www.drupal.org</strong>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
